html {
  font-family: "Space Mono"
}
*:focus {
  outline: none;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #C5E4E7;
  justify-content: space-evenly;
  align-items: center;
}
.App-logo {
  width: 86.66px;
  height: 53.14px;
}
.calculation--card {
  width: 50%; 
  height: 50%;
  background-color: #FFFFFF;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.controller--container {
  margin: 48px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result--container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 32px;
  width: 100%;
  background-color: #00474B;
  border-radius: 15px;
}
.calculation--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mini--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 25px;
  color: white;
}
.bill-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #F3F9FA;
  border-radius: 5px;
}
.amount--header {
  font-size: 16px;
}
.person--span {
  font-size: 13px;
  color: #7F9D9F;
}
.value--container {
  font-size: 48px;
  color: #26C2AE;
}
.reset--button {
  border: none;
  width: 333px;
  height: 48px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #26C2AE;
  color: #00474B;
  font-size: 20px;
  font-family: 'Space Mono';
}
.reset--button--off {
  border: none;
  width: 333px;
  height: 48px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #0D686D;
  color: #00474B;
  font-size: 20px;
  font-family: 'Space Mono';
}
.input--label {
  font-size: 16px;
  color: #5E7A7D;
}
.input-field {
  width: 30%;
  font-size: 24px;
  font-family: 'Space Mono';
  margin-top: 6px;
  border: none;
  background-color: #F3F9FA;
  text-align: right;
}
.tip--button--container {
  display: flex;
  flex-direction: Row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px; 
  width: 110%;
}
.custom--button {
  width: 113px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  background-color: #F3F9FA;
  font-family: 'Space Mono';
  font-size: 24px;
  text-align: right;
}
.tip--button {
  width: 117px;
  height: 48px;
}

@media (max-width: 1000px){
  .App {
    justify-content: space-between;
    height: 833px;
  }
  
  .App-logo{
    margin-top: 20px;
  }
  
  .calculation--card {
    width: 100%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .controller--container {
    width: 100%;
  }
  .bill-input-container {
    width: 80%;
  }
  .tip--button--container {
    max-width: 92%;
    justify-content: space-between;
  }
  .result--container {
    padding: 0px;
    margin: 0px;
    height: 40%;
    width: 90%;
  }
  .tip--button {
    width: 146.63px;
    height: 48px;
  }
  .custom--button {
    width: 146.63px;
    height: 48px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

  }
  .reset--button {
    width: 90%;
  }
  .reset--button--off {
    width: 90%;

  }
  .input--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;  
  }
  .value--container {
    font-size: 32px;
  }



}